apiVersion: v1
kind: Secret
metadata:
  name: {{.Recipe.Name}}
type: Opaque
stringData:
  database-url: {{if eq .Recipe.Database.Authority "postgres"}}postgresql://replace-me{{end}}{{if eq .Recipe.Database.Authority "mongodb"}}mongodb://replace-me{{end}}
  admin-token: replace-me
  evaluation-token: replace-me-too
