schema: reaper.dev/lock/v2
factoryVersion: {{.FactoryVersion}}
originRecipeDigest: {{.RecipeDigest}}
capabilityContract: feature-flags/ofrep-0.3
languagePack: {{.Recipe.Service.Language}}/{{.LanguageVersion}}
databasePack: {{.Recipe.Database.Authority}}/{{.DatabaseVersion}}
deploymentPack: {{.Recipe.Deployment.Target}}/{{.DeploymentVersion}}
deliveryPack: {{.Recipe.Delivery.Format}}/{{.DeliveryVersion}}
