schema: reaper.dev/lock/v1
factoryVersion: {{.FactoryVersion}}
recipeDigest: {{.RecipeDigest}}
capabilityContract: feature-flags/ofrep-0.3
languagePack: {{.Recipe.Service.Language}}/v1
databasePack: {{.Recipe.Database.Authority}}/v1
deploymentPack: {{.Recipe.Deployment.Target}}/v1
